/*-----------------------COLORS--------------------------*/

body {
    background-color: rgb(207, 215, 230);
}
.grid-cont {
    background: blueviolet;
}
footer {
    background-color: rgb(59, 73, 107) !important;
}
.answerGroupP {
    background-color: #d0d0b8;
}
#Sidebar {
    background-color: rgb(127, 146, 181);
    color: #fff;
}

.bg-custom-dark {
    background-color: rgb(43, 54, 79);
}

#Main-content {
    background-color: rgb(207, 215, 230);
}
#SideBarTogglerPanel {
    background-color: rgb(93, 109, 143);
}
.SideBarButtonIco {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
#SideBarButton {
    background-color: rgb(93, 109, 143);
}
/*========================================================*/
.blue {
    background-color: blue;
}
.grid-cont {
    height: 100%;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

/*----------------------_common_----------------------------------------*/
#Main-content a, #Main-content a:hover, #Main-content a:focus, #Main-content a:active {
    text-decoration: none;
    color: #FF0004;
    font-style: italic;
}

ng-view{
    height:auto;
}

body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
#Main-content {
    max-width: 100%;
    width: 100vw;
    padding: 2%;
    margin-bottom: 0px;
    margin-right: 2%;
    height: auto;
}

#Wrapper {
    min-height:100%;

    min-height: calc(100vh - 8rem);
}

#ContTitle{
    margin-top: 1%;
    margin-bottom: 1%;
}

#Content{
    margin-bottom: 1%;
}

#Video {
    text-align: center;
}

#ContTitle{
    text-align:center;
}

#PageContainer{
    position:relative;
    min-height:100vh;
}
/*----------------------_footer_------------------------------------*/
footer {
    height: 14rem;
}

footer a, footer a:hover, footer a:focus, footer a:active {
    color: white;
}

footer div, footer p {
    text-align: center;
}
footer p {
    padding: 1px;
    margin: 1%;
    color: #1c1c1c;
}

/*-----------------------------------------------------------------*/
/*----------------------_header_------------------------------------*/
#BrandImg{
    background: url(../Img/LogoFinal.png);
    background-size: contain;
    height: 50px;
    width:400px;
}
#menu-panel {
    font-size: 120%;
    margin-left: 5%;
}

@media(max-width: 767px) {
    #menu-panel {
        text-align: center;
    }
}
/*-----------------------------------------------------------------*/
/*----------------------_login.html_-------------------------------*/
#LoginDiv {
    background-color: #C4CAD1;
    border-radius: 16px;
    padding: 2%;
    text-align: center;
}

#LoginBtn{

}
/*----------------------_tutorials.html_-------------------------------*/

#RelVideoDiv{
    padding: 1%;
    border: 1px solid black;
    border-radius: 16px;
}

#NextBtn{
    float:right;
}

#PrevBtn{
    float:left;
}

#NavBtnDiv{
    height: 30px;
    margin-bottom: 2%;
}

#TestBtn {
    padding-left: 5%;
    padding-right: 5%;
}

#TestBtnDiv {
    text-align: center;
    margin: 2%;
}

#HometaskDiv{
    margin-top: 1%;
    padding: 1%;
    border: 1px solid orange;
    border-radius: 16px;
}
/*-----------------------_test.html_-----------------------------------*/
.testDiv {
    margin-top: 1%;
    margin-bottom:1%;
    padding: 1%;
    border: 1px solid blue;
    border-radius: 14px;
}

.answerGroupP {
    border-radius: 14px;
}
.answerP{
    padding-left:1%;
    padding-right:1%;
}
#Result{
    text-align: center;
    font-weight: bold;
}

.correctAnswer{
    background-color: forestgreen;
    border-radius: 14px;
}

.wrongAnswer {
    background-color: red;
    border-radius: 14px;
}
/*-----------------------_editor_-------------------------------------*/

.editBlock {
    background-color: #8399ae;
    border-radius: 14px;
    margin:1%;
    padding:1%;
}

form>p{
    margin: 0px;
    margin-bottom:1%;
}

#DataIn input, #VideoIn input {
    min-width: 100%;
}

textarea {
    min-width: 100%;
}

/*---------------------------_home_-------------------------------------*/
.grid-cont {
    border-radius: 14px;
    background-color: rgb(127, 146, 181);
    padding:1%;
}
/*----------------------------------------------------------------------*/
/*-----------------------_sidebar_-------------------------------------*/

#SideBarTitle{
    text-align: center;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#Sidebar-toggler {
    margin: 10px;
}

#Sidebar {
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
    margin-right: 2%;
    padding-top: 0.5%;
}

#resp-navbar-coll {
    clear: left;
}

#Sidebar li {
    color: white;
    border-bottom: 1px solid #97ADFF;
}
#Sidebar li:hover{
    background-color:white;
    color: black;
}
#Sidebar a {
    color: inherit;
    padding: 5%;
}

#Sidebar.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

#Sidebar a, #Sidebar a:hover, #Sidebar a:focus, #Sidebar a:active {
    text-decoration: none;
}

#SBHeaderBorder {
    height: 1px;
    background-color: #97ADFF;
    margin: 0px;
    padding: 0px;
}