<!DOCTYPE html>
<html ng-app="tutorialsApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharp Lessons</title>

    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="~/Img/Icon.png" />
</head>

<body>
    <div id="PageContainer">
        <header ng-controller="headerController">
            <nav class="navbar navbar-expand-md navbar-dark bg-custom-dark">
                <a class="navbar-brand" ng-click="LogoClick()" href="#!home"><div id="BrandImg"></div></a>               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-panel">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="menu-panel" class="collapse navbar-collapse">
                    <ul id="header-nav" class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a id="HomeLink" class="nav-link" ng-click="SetActive($event)" href="#!home">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="SetActive($event)" href="#!videos">Мультимедіа</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="SetActive($event)" href="#!tutorials">Уроки</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div id="Wrapper" class="wrapper overflow-hidden">
            <ng-view>
            </ng-view>
        </div>

        <!--FOOTER-->
        <footer class="page-footer font-small red pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6">
                        footer content
                    </div>
                    <div class="col-md-6">
                        footer content
                    </div>
                </div>
                <p>
                    <a href="#!login">Редактор</a>
                </p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    <script src="/Scripts/app/tutorialsApp.js"></script>
    <script src="/Scripts/common/myDirectives.js"></script>
    <script src="~/Scripts/controllers/sidebarController.js"></script>
    <script src="~/Scripts/controllers/editorController.js"></script>
    <script src="~/Scripts/controllers/tutorialController.js"></script>
    <script src="~/Scripts/controllers/headerController.js"></script>
    <script src="~/Scripts/controllers/videoController.js"></script>
    <script src="~/Scripts/controllers/testController.js"></script>
    <script src="~/Scripts/controllers/loginController.js"></script>
    <script src="~/Scripts/common/myServices.js"></script>
</body>
</html>
