/*-----------------------COLORS--------------------------*/
body {
    background-color: #D9DCD6;
}
.grid-cont {
    background: blueviolet;
}
footer {
    background-color: #16425B !important;
}
.answerGroupP {
    background-color: #d0d0b8;
}
#Sidebar {
    background: #2F6690;
    color: #fff;
}

.bg-custom-dark {
    background-color: #3A7CA5;
}

#Main-content {
    
}
#SideBarTogglerPanel {
    background-color: #3A7CA5;
}
.SideBarButtonIco {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
#SideBarButton {
    background-color: #3A7CA5;
}
/*========================================================*/
.blue {
    background-color: blue;
}
.grid-cont {
    height: 100%;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

/*----------------------_common_----------------------------------------*/
#Main-content a, #Main-content a:hover, #Main-content a:focus, #Main-content a:active {
    text-decoration: none;
    color: purple;
    font-style: italic;
}

ng-view{
    height:auto;
}

body, html{
    height: 100%;
}
#Main-content {
    max-width: 100%;
    width: 100vw;
    padding: 2%;
    margin-bottom: 0px;
    margin-right: 2%;
    height: auto;
}

#Wrapper {
    min-height:100%;

    min-height: calc(100vh - 8rem);
}

#ContTitle{
    margin-top: 1%;
    margin-bottom: 1%;
}

#Content{
    margin-bottom: 1%;
}

#Video {
    text-align: center;
}

#ContTitle{
    text-align:center;
}

#PageContainer{
    position:relative;
    min-height:100vh;
}
/*----------------------_footer_------------------------------------*/
footer {
    height: 8rem;
}

footer a, footer a:hover, footer a:focus, footer a:active {
    color: white;
}

footer div, footer p {
    text-align: center;
}

/*-----------------------------------------------------------------*/
/*----------------------_header_------------------------------------*/
#BrandImg{
    background: url(../Img/LogoFinal.png);
    background-size: contain;
    height: 50px;
    width:400px;
}
#menu-panel {
    font-size: 120%;
    margin-left: 5%;
}

@media(max-width: 767px) {
    #menu-panel {
        text-align: center;
    }
}
/*-----------------------------------------------------------------*/
/*----------------------_login.html_-------------------------------*/
#LoginDiv {
background-color: #D9DCE9;
border-radius: 16px;
padding:2%;
text-align: center;
}

#LoginBtn{

}
/*----------------------_tutorials.html_-------------------------------*/

#RelVideoDiv{
    padding: 1%;
    border: 1px solid black;
    border-radius: 16px;
}

#NextBtn{
    float:right;
}

#PrevBtn{
    float:left;
}

#NavBtnDiv{
    height: 30px;
    margin-bottom: 2%;
}

#TestBtn {
    padding-left: 5%;
    padding-right: 5%;
}

#TestBtnDiv {
    text-align: center;
    margin: 2%;
}

#HometaskDiv{
    margin-top: 1%;
    padding: 1%;
    border: 1px solid orange;
    border-radius: 16px;
}
/*-----------------------_test.html_-----------------------------------*/
.testDiv {
    margin-top: 1%;
    margin-bottom:1%;
    padding: 1%;
    border: 1px solid blue;
    border-radius: 14px;
}

.answerGroupP {
    border-radius: 14px;
}
.answerP{
    padding-left:1%;
    padding-right:1%;
}
#Result{
    text-align: center;
    font-weight: bold;
}

.correctAnswer{
    background-color: forestgreen;
    border-radius: 14px;
}

.wrongAnswer {
    background-color: red;
    border-radius: 14px;
}
/*-----------------------_editor_-------------------------------------*/

.editBlock {
    background-color: #8399ae;
    border-radius: 14px;
    margin:1%;
    padding:1%;
}

form>p{
    margin: 0px;
    margin-bottom:1%;
}

#DataIn input, #VideoIn input {
    min-width: 100%;
}

textarea {
    min-width: 100%;
}
/*-----------------------_sidebar_-------------------------------------*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#Sidebar-toggler {
    margin: 10px;
}

#Sidebar {
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
    margin-right: 2%;
}

#resp-navbar-coll {
    clear: left;
}

#Sidebar li {
    padding: 2px;
    color: white;
}
#Sidebar li:hover{
    background-color:white;
    color: black;
}
#Sidebar a{
    color: inherit;
}

#Sidebar.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

#Sidebar a, #Sidebar a:hover, #Sidebar a:focus, #Sidebar a:active {
    text-decoration: none;
}

#SBHeaderBorder{
    height:2px;
    background-color: black;
    margin:0px;
    padding:0px;
}