<side-bar></side-bar>
    <div id="main-content" class="jumbotron">
            <h2 id="contTitle"></h2>
            <div id="content">Video</div>
            <div id="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KI0xsw3x7EY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="loading" class="d-none">Please wait</div>       
            </div>
    </div>
         